[submodule "libdragon"]
	path = software/libdragon
	url = github.com:DragonMinded/libdragon
	branch = preview
[submodule "hardware/lib/nelgau-kicad-lib"]
	path = hardware/lib/nelgau-kicad-lib
	url = https://github.com/nelgau/nelgau-kicad-lib.git
