# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# C extensions
*.so

# C object files and binaries
*.o
*.d
*.elf
*.bin

# Build
build/
*.bit
*.svf

# Icarus Verilog
*.vvp

# Traces
traces/
*.vcd
*.gtkw
