# Witness that PDM-install completed successfully
.install.stamp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# PDM
.pdm.toml
.pdm-python
.pdm-build/

# Pytest
.pytest_cache/

# C extensions
*.so

# Build
build/
*.bit
*.svf

# Icarus Verilog
*.vvp

# Traces
traces/
*.vcd
*.gtkw
